<h3>Вашият избор:   </h3>
<h4>Най-добър актьор: {{ actor }} </h4>
<h4>Най-добрa актриса: {{ actress }} </h4>
<h4>Най-добро представление: {{ best_performance }} </h4>
<a class="btn btn-warning" href="/" role="button">Редакция</a>
<a class="btn btn-primary" href="/users/stats" role="button">Гласувай</a>
