body{
    
}

.registration_page{
    height: 100vh;
    background-image: url("/img/alter_cover.jpg");
}

.register_form, .login_form{
    color : white; 
    margin: 6em auto;
    background-color: rgba(189, 181, 181, 0.278);
    border: 1px solid  rgba(214, 185, 105, 0.514);    
}

.register_form label {
    font-size: 1.4em;
    color: rgb(214, 185, 105); 
}

.register_form input {
    background-color: rgba(214, 185, 105, 0.212); 
}

.register_form input:focus{
    background-color: rgba(214, 185, 105, 0.438); 
    color: white; 
    font-size: 1.1em; 
}

.register_form input:hover{
    background-color:  rgba(214, 185, 105, 0.424); 
    border: 1px solid  rgba(214, 185, 105, 0.424); 
}

.register_form button {
    font-size: 1.8em; 
    background-color:  rgba(214, 185, 105, 0.171); 
    color: rgb(214, 185, 105); 
    border: 1.3px solid  rgba(214, 185, 105, 0.424); 
}

.register_form button:hover {
    background-color: rgba(214, 185, 105, 0.424); 
    border: 1px solid  rgba(214, 185, 105, 0.424); 
}

.page-title {
    font-size: 38px;
    margin: 5% auto;
    color: rgb(214, 185, 105); 
}

/*  VOTING PAGE  */ 

.vote-page{
    background-color: rgb(31, 58, 58); 
    color: white; 
}


 #actresses,   {
    height: 100%; 
    width: 100%; 
}
#actors{
    height: 100%; 
    width: 100%; 
} 


.stats-page{
    background-color: black; 
    width :100%;
    height: 100%;
}   

img {
    /*opacity: .7; */
    filter:contrast(70%) brightness(80%);
}
.grayscale{
    /*opacity: .7; 
    margin-top: 13%; */ 
    filter: contrast(40%) brightness(80%) grayscale(60%);
}

.hue-rotate{
    filter:hue-rotate(90deg) grayscale(60%);
}
.invert{
    filter:invert(80%) brightness(45%);
}   

#best-actor-actress{
    position: relative;
    margin-top: -50%; 
}

#actresses3 {
    margin-top: -55%; 
}
#actresses4 {
    margin-top: -55%; 
}